.NewReview-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.NewReview-row {
  display: grid;
}

.NewReview-row label {
  grid-column: 1;
  margin: auto;
}

.NewReview-row textarea {
  grid-column: 2;
}

.NewReview-submit {
  float: right;
}

.NewReview-shop {
  min-width: 0;
}
