.NewReview-body {
  max-width: 60rem;
  margin: auto;
}

.NewReview-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.NewReview-row {
  display: grid;
}

.NewReview-container label {
  grid-column: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: var(--xs);
}

.NewReview-row textarea {
  grid-column: 2;
}

.NewReview-submit {
  float: right;
}

.NewReview-shop {
  min-width: 0;
}
