.Footer-container {
  height: var(--footer-height);
  max-width: 100%;
  background-color: #fae1dd;
  display: grid;
  grid-template-columns: auto auto;
  overflow: auto;
}

.Footer-text {
  margin-top: 6vh;
}

.Footer-text div {
  display: block;
}

.Footer-text .boba-link,
.Footer-boba .boba-link {
  margin: 5pt;
}

.Footer-boba {
  font-weight: bold;
  font-size: 20pt;
}
