.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--grey);
}

.NavBar-link.NavBar-title {
  color: var(--black);
  font-size: 20pt;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  float: right;
}

.NavBar-link,
.NavBar-link:visited {
  font-size: 18pt;
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.GoogleLogin {
  height: 100%;
  display: none;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
