.NavBar-container {
  padding: var(--s) var(--m);
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: #fff;
  border-bottom: 1pt solid var(--medgrey);
  z-index: 1000;
}

.NavBar-link.NavBar-title {
  color: var(--black);
  font-size: 20pt;
  transition: 0.25s;
}

.NavBar-link.NavBar-title:hover {
  transform: translateY(5pt);
}

.NavBar-linkContainer {
  margin-left: var(--l);
  padding-top: var(--s);
  padding-bottom: var(--s);
  float: right;
}

.NavBar-toggle {
  float: right;
}

.NavBar-bars {
  transform: translateY(0.2em);
}

.NavBar-link,
.NavBar-link:visited {
  font-size: 18pt;
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.GoogleLogin {
  height: 100%;
  display: none;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-google {
  transform: translateY(0.1em);
}

@media screen and (max-width: 690px) {
  .NavBar-container {
    flex-direction: column;
    height: auto;
  }
  .NavBar-linkContainer:nth-child(1) {
    border-top: 1pt solid rgba(255, 255, 255, 0.555);
    margin-top: 50pt;
  }
  .NavBar-linkContainer {
    width: 100%;
    border-top: 1pt solid rgba(255, 255, 255, 0.555);
    text-align: center;
    padding: var(--s);
    margin-left: initial;
  }
  .NavBar-link {
    display: block;
  }
  .NavBar-link + .NavBar-link {
    margin-left: var(--xs);
  }
}
